
                H1{
                    COLOR:rgb(26, 23, 23);
                }
                H1{
                    border: solid;
                }

                p{
                    text-align: center;
                }

                .header{
                    background-color:green;
                    display:flex;
                    justify-content: space-between;
                }

                .grid{
                    display:flex;
                    flex-wrap: wrap; 
                    justify-content: space-evenly;
                }

                .footer{
                    display:flex;
                    justify-content: flex-end;
                }